.cart-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.cart-header {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.cart-item-image {
    width: 50px; /* ou une autre taille appropriée */
    height: 50px;
    margin-right: 10px;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
}

.cart-item-quantity button {
    margin: 0 5px;
}

.remove-item {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
}

.cart-item {
    height: 150px;
}

.cart-item-image {
    height: 100%;
    width: 210px;
    margin-left: -80px;
}

.cart-item-title {
    margin-left: -200px;
    font-size: 40px;
}

.cart-item-quantity {
    margin-right: -130px;
    margin-left: 150px;
}

.remove-item {
    margin-right: -50px;
}


@media (max-width: 768px) {
    .cart-header {
        gap: 40px;
        margin-left: -25px;
    }

    .cart-item-title {
        display: none;
    }
    .cart-item-quantity {
        margin: 0;
        scale: 0.9;
        margin-right: -30px;
    }

    .quantity-input {
        width: 40px;
    }
    .remove-item {
        margin: 0;
        margin-right: -30px;
    }
    .cart-item-image {
        scale : 0.85;
        margin-right: 0;
        margin-left: -100px;
    }
    .cart-item-price {
        margin-left: -70px;
        z-index: 1000;
    }
    .cart-item-total {
        margin-right: -20px;
        margin-left: 20px;
    }

}
